<!DOCTYPE HTML>
<html>
<body>
<ul>
    <li><a href="/view-posts">View Posts</a></li>
    <li><a href="/bootstrap">Load Entities</a></li>
    <li><a href="/create-slugs">Create Slugs</a></li>
    <li><a href="/create-slugs-mapreduce">Create Slugs MapReduce</a></li>
    <li><a href="/delete-slugs">Delete Slugs</a></li>
    <li><a href="/count-comments">Count Comments</a></li>
    <li><a href="/count-comments-mapreduce">Count Comments MapReduce</a></li>
    <li><a href="/delete-comment-counts">Delete Comment Counts</a></li>
</ul>
</body>
</html>